@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Overpass", sans-serif;
  background: hsl(216, 12%, 8%);
  font-size: 15px;
}
main {
  background: radial-gradient(circle at top, #232a32, #171e28);
  border-radius: 2rem;
  width: 410px;
  height: 410px;
  padding: 2rem;
  box-sizing: border-box;
  color: hsl(217, 12%, 63%);
  display: flex;
  flex-direction: column;
}
h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}
.star-img {
  width: 20px;
  height: 20px;
  background: hsla(216, 12%, 54%, 0.075);
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}
.stars {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1.6rem 0;
}
.custom-radio-button {
  width: 50px;
  height: 50px;
  background-color: hsla(216, 12%, 54%, 0.075);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  color: white;
}
.custom-radio-button:hover {
  background-color: hsl(216, 12%, 54%);
}
.custom-radio-button input {
  display: none;
}
.checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(25, 97%, 53%);
}
.custom-radio-button input:checked + .checkmark {
  display: flex;
}
.number {
  position: absolute;
  font-size: 1rem;
  font-weight: 700;
  top: 16px;
  left: 20px;
  user-select: none;
}
button {
  background-color: hsl(25, 97%, 53%);
  border: none;
  height: 45px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.2rem;
  box-shadow: 1px 1px 1px hsl(216, 12%, 8%);
  width: 100%;
}
button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}
#rating-page {
  height: 100%;
  display: block;
}
#thank-you-page {
  display: none;
  flex-direction: column;
  align-items: center;
}
.thank-you-img {
  margin: 1rem 0 2rem 0;
}
.rate-response {
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.075);
  border-radius: 30px;
  padding: 7px 20px 4px;
  margin-bottom: 2rem;
}
.message {
  text-align: center;
  padding: 0 2px;
}
.error {
  margin: 10px 0 0 5rem;
  color: red;
}
@media (max-width: 500px) {
  main {
    scale: 0.8;
  }
}
/* 
- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) 
*/
